.labeledControlPanel .label {
    white-space: nowrap;
    padding-right: 0px;
	line-height: 1.7em;
	vertical-align: top;
}
.labeledControlPanel .label.above {
    vertical-align: bottom;
	line-height: 1.0em;
}
.labeledControlPanel .labeled {
    white-space: nowrap;
    vertical-align: top;
	line-height: 1.7em;
}
.labeledControlPanel .layoutTable {
    border-width: 0px;
}
.labeledControlPanel .layoutTable TD, .labeledControlPanel .layoutTable TH {
    padding: 2px;
    margin: 0px;
}


/* fixes issue with calendar extender in InputDateRange */
.ajax__calendar { display: inline; }
div.ajax__calendar_days table tr td { padding-right:0px; }