.labeledControlPanel .label {
    white-space: nowrap;
}
.labeledControlPanel .label.left {
    vertical-align: top;
    padding-top: 0.3em;
}
.labeledControlPanel .labeled {
    white-space: nowrap;
}
TEXTAREA { behavior: url(<%= WebResource("Ruhe.Web.Resources.maxlength.htc") %>); }

/* fixes issue with calendar extender in InputDateRange */
.ajax__calendar { display: inline; }