.labeledControlPanel .label {
    white-space: nowrap;
}
.labeledControlPanel .label.left {
    vertical-align: top;
    padding-top: 0.3em;
}
.labeledControlPanel .labeled {
    white-space: nowrap;
}
.labeledControlPanel .layoutTable {
    border-width: 0px;
}
.labeledControlPanel .layoutTable TD, .labeledControlPanel .layoutTable TH {
    padding: 2px;
    margin: 0px;
}

/* fixes issue with calendar extender in InputDateRange */
.ajax__calendar { display: inline; }
div.ajax__calendar_days table tr td { padding-right:0px; }